*.pyc
demo/public/js/min/
demo/public/js/ole/
demo/application/configs/application.ini
demo/ENVIRONMENT
demo/public/.htaccess
demo/application/views/scripts/index/documentation.phtml
demo/application/views/scripts/index/features.phtml

ole-*.tar.gz
ole-*.zip