body {
    background-color: #555;
    font-family: Verdana,Helvetica,Arial,sans-serif;
}

h1, h2, h3, p, li {
    color: #333;
}

h1 {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 28px;
    left: 0;
    width: 250px;
    text-align: center;
}
h2 {
    display: none;
}
h3 {
    margin: 20px 0 0 30px;
}
p, pre {
    margin: 10px 30px;
    font-size: 0.9em;
}

div.content li {
    font-size: 0.9em;
    margin-left: 10px;
}

#page {
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    width: 800px;
    padding: 80px 10px 10px;
    -webkit-box-shadow: 0px 0px 10px 0px #000;
    -moz-box-shadow: 0px 0px 10px 0px #000;
    box-shadow: 0px 0px 10px 0px #000;
    display: none;
    position: relative;
}

#github {
    position: absolute; top: 0; right: 0; border: 0;
}

#navigation {
  position: absolute;
  top: 25px;
  right: 0;
  list-style: none;
  margin: 0;
}
#navigation > li {
    float: left;
}

#navigation a {
    background: #444;
    display: block;
    margin: 0 40px 0 0;
    padding: 0 15px;
    text-decoration: none;
    line-height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color:#fff;
    font-weight: bold;
}
#navigation a.active {
    background: #6ec72d;
}

#credit {
    color: #999;
    text-align: center;
    font-size: 0.8em;
}

#credit img {
    margin-bottom: -5px;
}

div.content {
    overflow: hidden;
    height: 500px;
}

.olControlAttribution {
    right: 8px!important;
    bottom: 8px!important;
    font-size: 0.8em;
}

.olEditorControlEditorPanel {
    top:8px;
    right:8px;
    /** Use a fixed height to support IE7, IE9. Other browsers are correctly calculating the width anyway. */
    width:456px;
}

a img {
    border: none;
}

div.olControlZoom a {
    background:#444;
    background: rgba(0, 0, 0, 0.7);
}
.oleDialog p {
    margin-left:0;
    margin-right:0;
}